name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ closed ]
  workflow_dispatch:

jobs:
  Deploy:
    name: deploy
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    concurrency:
      group: deploy-main
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        run: |
          full="${{ github.repository }}"
          repo=$(echo "$full" | cut -d'/' -f2)
          curl -X POST https://$repo.aclclp.org.tw
