name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  Deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        run: |
          full="${{ github.repository }}"
          repo=$(echo "$full" | cut -d'/' -f2)
          curl -X POST https://$repo.aclclp.org.tw
